@font-face {
    font-family: 'PixeloidSans';
    src: url('/fonts/PixeloidSans.ttf') format('truetype'),
         url('/fonts/PixeloidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixeloidSans';
    src: url('/fonts/PixeloidSans-Bold.ttf') format('truetype'),
         url('/fonts/PixeloidSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
    font-family: 'PixeloidSans', sans-serif;
}
